.create{
    font-size: large;
    margin-top: 3em;
    margin-left: 3em;
}

table{
    font-size: large;
    margin: 3em;
    border-collapse: collapse;
}

th, td{
    padding: 1.2em;
}

.headlines{
    border-bottom: solid 2px;
}

.items{
    text-align: center;
}