{% extends 'todo/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'todo/todo_list.css' %}">
<h1>タスク一覧</h1>
{% endblock header %}

{% block content %}
<p><a href="{% url 'create' %}">新規作成</a></p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Deadline</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.deadline }}</td>
            <td><a href="{% url 'detail' task.pk %}">詳細</a></td>
            <td><a href="{% url 'update' task.pk %}">編集</a></td>
            <td><a href="{% url 'delete' task.pk %}">削除</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}