{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
</head>

<body>
    <h1>Todo List</h1>

    <table>
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Deadline</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.deadline }}</td>
                <td><a href="{% url 'detail' task.pk %}">詳細</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>